
$theme-colors: (
  "primary": #273A89,
  
);
.btn
  radio-btn-sucess{
      background-color: grey;
      border: none;
      color:white;
      
  }
    
    

@import "node_modules/bootstrap/scss/bootstrap";